---
const { type, className, width, onClick, id } = Astro.props;
---

{
  type === "primary" ? (
    <button id={id} onclick={onClick} class={`primary ${className}`}>
      <slot />
    </button>
  ) : type === "secondary" || "secondary-inverted" ? (
    <button id={id} onclick={onClick} class={`${type} ${className}`}>
      <slot />
    </button>
  ) : type === "third" ? (
    <button id={id} onclick={onClick} class={`${type} ${className}`}>
      <slot />
    </button>
  ) : (
    <button id={id} onclick={onClick} class={`tertiary ${className}`}>
      <slot />
    </button>
  )
}

<style define:vars={{ width: width || "10rem" }}>
  button {
    outline: none;
    border: none;
    background: transparent;
  }
  .primary,
  .secondary,
  .third,
  .tertiary,
  .secondary-inverted {
    padding: 12px 40px;
    min-width: 200px;
    border: 1.5px solid #000000;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 50px;
    background: #f8dc23;
    color: #000000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }
  @media screen and (max-width: 768px) {
    .primary,
    .secondary,
    .third,
    .tertiary,
    .secondary-inverted {
      padding: 10px 20px;
      min-width: 150px;
      font-size: 14px;
    }
  }

  .primary {
    width: var(--width);
    height: 3rem;
    background: var(--primary);
    color: var(--white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }
  .secondary {
    width: var(--width);
    height: 3rem;
    padding: 12px 12px;
    flex-shrink: 0;
    border: 1px solid var(--night);
    color: var(--night);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }
  .third {
    min-width: 150px;
    font-size: 17px;
    line-height: 20px;
    margin: 0 0 0 0;
    letter-spacing: 1px;
    font-weight: bolder;
    border: none;
    background: transparent; /* Amarillo */
    color: #000000; /* Negro */
    transition:
      background 0.3s ease,
      color 0.3s ease; /* Para una transición suave al hover */
  }
  .third:hover {
    background: transparent; /* Negro */
    color: black; /* Amarillo */
    text-decoration: underline;
  }
  .tertiary {
    opacity: 0.5;
  }
  .primary:hover {
    background: var(--primary-light);
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .secondary:hover {
    border: 1px solid var(--night);
    background: var(--night);
    color: var(--white);
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .secondary-inverted:hover {
    background: #000000;
    color: #f8dc23;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .tertiary:hover {
    color: var(--primary);
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
</style>
