---
import Layout from "../../layouts/Layout.astro";
import Hero2 from "../../components/organisms/Hero.astro";
import { colors } from "../../design-system/colors.js";
import Text from "../../components/atoms/Text.astro";
import FeaturedProducts from "../../components/organisms/FeaturedProducts.astro";
import Outro from "../../components/organisms/Outro.astro";
import Footer from "../../components/organisms/Footer.astro";
import Button from "../../components/atoms/Button.astro";
import { data } from "../../utils/dummyData.js";
import Input from "../../components/atoms/Input.astro";
import CategoryProducts from "@components/organisms/CategoryProducts.astro";
import { Hero } from "@modules/Hero";

export async function getStaticPaths() {
  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: product,
    };
  });
}

const { name, description, price, features, image, includes, others } =
  Astro.props;
---

<Layout
  title="Legion Drinkers"
  description="Legion Drinkers es una tienda de bebidas alcohólicas en línea."
>
  <Hero2 />
  <!-- <div class="container">
    <Button onClick="history.back()" color="rgba(0,0,0,.7)">Go back</Button>
  </div> -->
</Layout>

<!-- Primera parte de la vista -->
<div class="container">
  <div class="product-item-row">
    <div class="product-details">
      <Text type="body" color={colors.yellow}>NEW PRODUCT</Text>
      <Text type="h3">{name}</Text>
      <Text type="body">{description}</Text>
      <br />
      <!-- <Text type="h6" className="font-extrabold">{`$${price}`}</Text> -->
      <div class="product-actions">
        <Input type="counter" value={1} />
        <a href="https://wa.link/8or624">
          <Button type="secondary-inverted">¡Cotizar Ahora!</Button>
        </a>
      </div>
    </div>
    <div class="product-image">
      <img src={image.desktop} alt="best-gear" />
    </div>
  </div>
</div>

<!-- Segunda parte de la vista -->
<div class="container features-product">
  <div class="feature-details">
    <Text type="h5">Características</Text>
    <Text type="body">{features}</Text>
  </div>
  <div class="feature-box">
    <Text type="h5">Que incluye</Text>
    <div class="box-list">
      {
        includes.map((extra) => (
          <div class="includes-item">
            <Text
              type="body"
              color={colors.yellow}
            >{`${extra.quantity}x`}</Text>
            <Text type="body">{extra.item}</Text>
          </div>
        ))
      }
    </div>
  </div>
</div>

<div id="categorias" class="premium-categories">
  <span>RECOMENDADOS</span>
</div>

<!-- Tercera parte de la vista -->
<Hero
  client:load
  heroType="CarouselCategoryProducts"
  data={others.map((item) => ({
    image: item.image.desktop,
    title: item.name,
    link: "https://wa.link/8or624",
    button: { text: "¡Cotizalo Ahora!", link: "https://wa.link/8or624" },
  }))}
/>

<!-- <div class="container others-section">
  {
    others.map((item) => (
      <div class="others-item">
        <div class="img-wrapper">
          <img src={item.image.desktop} alt={item.slug} />
        </div>
        <div class="details">
          <Text type="h5">{item.name}</Text>
          <a href="https://wa.link/8or624">
            <Button type="secondary-inverted">¡Cotizar Ahora!</Button>
          </a>
        </div>
      </div>
    ))
  }
</div> -->

<FeaturedProducts />

<!-- <CategoryProducts /> -->

<Outro />

<Footer />

<style>
  .container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .product-item-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 0;
    text-align: justify;
  }

  .product-details {
    flex: 1 1 100%;
  }

  @media (min-width: 768px) {
    .product-details {
      flex: 1 1 45%;
    }
  }

  .product-actions {
    display: flex;
    gap: 10px;
  }

  .product-image img {
    max-width: 100%;
    border-radius: 10px;
  }

  .features-product {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    text-align: justify;
  }

  .feature-details {
    flex: 1 1 100%;
  }

  @media (min-width: 768px) {
    .feature-details {
      flex: 1 1 60%;
    }
    .feature-box {
      flex: 1 1 30%;
    }
  }

  .box-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 15px;
  }
  .includes-item {
    display: flex;
    align-items: flex-start; /* Alineación a la izquierda */
    gap: 0.9rem; /* Espaciado entre los elementos dentro del ítem */
  }

  .others-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 9rem;
  }

  .others-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Asegúrate de que ocupe el 100% del contenedor */
  }

  @media (min-width: 640px) {
    .others-item {
      flex: 1 1 calc(50% - 10px); /* 2 columnas en pantallas medianas */
    }
  }

  @media (min-width: 1024px) {
    .others-item {
      flex: 1 1 calc(33.333% - 10px); /* 3 columnas en pantallas grandes */
    }
  }

  @media (min-width: 1280px) {
    .others-item {
      flex: 1 1 calc(25% - 10px); /* 4 columnas en pantallas extra grandes */
    }
  }

  .img-wrapper img {
    width: 100%;
    border-radius: 10px;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .premium-categories {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80%; /* Limita el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    margin-top: 80px;
  }
  .premium-categories span {
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold;
    color: #2c3137; /* Color del texto */
    position: relative;
    padding: 0 15px; /* Espaciado entre el texto y las líneas */
    letter-spacing: 5px; /* Espaciado entre cada letra */
  }
  .premium-categories:before,
  .premium-categories:after {
    content: "";
    flex: 1;
    height: 2px; /* Grosor de las líneas */
    background: #2c3137; /* Color de las líneas */
    margin: 0 20px; /* Ajusta el espaciado entre el texto y las líneas */
  }
</style>
